* {
  box-sizing: border-box;
}

body {
  background-color: #F5FFFA;
  padding: 20px;
  font-family: 'Tangerine', cursive;
}

/* Center website */
.main, nav {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 75px;
  word-break: break-all;
  text-align:center
  }

p{
  font-size: 50px;
}

.row {
  margin: 10px -16px;
}


.row,
.row > .column {
  padding: 8px;
}


.column {
  float: left;
  width: 33.33%;
  
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {

  padding: 10px;
}
/*button design*/
 a:link, a:visited {
  background-color: #008080;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial;
}

a:hover, a:active {
  background-color: #40E0D0;
}
